{% extends "layout/main.html" %} {% block content %}
<div class="container-fluid">
  <div class="nk-content-inner">
    <div class="nk-content-body">
      <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
          <div class="nk-block-head-content">
            <h4 class="nk-block-title">Ubah TPA</h4>
          </div>
          <div class="nk-block-head-content">
            <a href="{% url 'landfill_index' %}" class="btn btn-primary">
              <em class="icon ni ni-left-arrow"></em>
              <span> Kembali</span>
            </a>
          </div>
        </div>
        <!-- .nk-block-between -->
      </div>
      <!-- .nk-block-head -->
    </div>

    <!-- .nk-block-head -->
    <div class="card card-preview">
      <div class="card-inner">
        <form method="POST" action="{% url 'landfill_update' landfill.id %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Nama TPA:</label>
            <input
              type="text"
              id="name"
              name="nama"
              class="form-control"
              placeholder="Masukkan nama"
              value="{{ landfill.nama }}"
              required
            />
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="alamat">Alamat TPA:</label>
                <input
                  type="text"
                  id="alamat"
                  name="alamat"
                  class="form-control"
                  placeholder="Masukkan Alamat"
                  value="{{ landfill.alamat }}"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="keterangan">Keterangan TPA:</label>
                <input
                  type="text"
                  id="keterangan"
                  name="keterangan"
                  class="form-control"
                  placeholder="Masukkan Keterangan"
                  value="{{ landfill.keterangan }}"
                  required
                />
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Simpan</button>
        </form>
      </div>
      <!-- .card-preview -->
    </div>
    <!-- .nk-block-head -->
  </div>
  <!-- .nk-block-head -->
</div>
<!-- .nk-block-head -->
{% endblock %}
