<div class="nk-header nk-header-fixed is-light">
  <div class="container-fluid">
    <div class="nk-header-wrap">
      <div class="nk-menu-trigger d-xl-none ms-n1">
        <a
          href="#"
          class="nk-nav-toggle nk-quick-nav-icon"
          data-target="sidebarMenu"
          ><em class="icon ni ni-menu"></em
        ></a>
      </div>
      <div class="nk-header-brand d-xl-none">
        <a href="xx" class="logo-link">
          SAMPAH MAJU {% comment %}
          <img
            class="logo-light logo-img"
            src="{{ getTemporaryFileUrl(appSetting()->logo, 'logo') }}"
            srcset="{{ getTemporaryFileUrl(appSetting()->logo, 'logo') }}"
            alt="logo"
          />
          <img
            class="logo-dark logo-img"
            src="{{ getTemporaryFileUrl(appSetting()->logo, 'logo') }}"
            srcset="{{ getTemporaryFileUrl(appSetting()->logo, 'logo') }}"
            alt="logo-dark"
          />
          <img
            class="logo-small logo-img logo-img-small"
            src="{{ getTemporaryFileUrl(appSetting()->logo, 'logo') }}"
            srcset="{{ getTemporaryFileUrl(appSetting()->logo, 'logo') }}"
            alt="logo-small"
          />
          {% endcomment %}
        </a>
      </div>
      <!-- .nk-header-brand -->
      <div class="nk-header-search ms-3 ms-xl-0">
        <em class="icon ni ni-search"></em>
        <input
          type="text"
          class="form-control border-transparent form-focus-none"
          placeholder="Search anything"
        />
      </div>
      <!-- .nk-header-news -->
      <div class="nk-header-tools">
        <ul class="nk-quick-nav">
          <li class="dropdown notification-dropdown">
            <a href="xx" class="nk-quick-nav-icon">
              <div class="icon-status icon-status-info">
                <em class="icon ni ni-monitor"></em>
              </div>
            </a>
          </li>
          <li class="dropdown user-dropdown">
            <a href="#" class="dropdown-toggle me-n1" data-bs-toggle="dropdown">
              <div class="user-toggle">
                <div class="user-avatar sm">
                  <em class="icon ni ni-user-alt"></em>
                </div>
                <div class="user-info d-none d-xl-block">
                  <div class="user-status user-status-unverified">XX</div>
                  <div class="user-name dropdown-indicator">XX</div>
                </div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-md dropdown-menu-end">
              <div
                class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block"
              >
                {% if user.is_authenticated %}
                <div class="user-card">
                  <div class="user-avatar">
                    <span>AV</span>
                  </div>
                  <div class="user-info">
                    <span class="lead-text">{{ user.name }}</span>
                    <span class="sub-text">{{ user.email }}</span>
                  </div>
                </div>
                {% endif %}
              </div>
              <div class="dropdown-inner">
                <ul class="link-list">
                  <li>
                    <a href="xx"
                      ><em class="icon ni ni-setting-alt"></em
                      ><span>Pengaturan Akun</span></a
                    >
                  </li>
                  <li>
                    <a class="dark-switch" href="#"
                      ><em class="icon ni ni-moon"></em
                      ><span>Mode Gelap</span></a
                    >
                  </li>
                </ul>
              </div>
              <div class="dropdown-inner">
                <ul class="link-list">
                  <li>
                    <a href="{% url 'logout' %}">
                      <em class="icon ni ni-signout"></em>
                      <span>Keluar</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- .nk-header-wrap -->
  </div>
  <!-- .container-fliud -->
</div>
