<div class="nk-sidebar nk-sidebar-fixed is-light" data-content="sidebarMenu">
  <div class="nk-sidebar-element nk-sidebar-head">
    <div class="nk-sidebar-brand">
      <a href="xx" class="logo-link nk-sidebar-logo">
        SAMPAH MAJU {% comment %}
        <img
          class="logo-light logo-img"
          src="{{ getTemporaryFileUrl(appSetting()->logo, 'logo') }}"
          srcset="{{ getTemporaryFileUrl(appSetting()->logo, 'logo') }}"
          alt="logo"
        />
        <img
          class="logo-dark logo-img"
          src="{{ getTemporaryFileUrl(appSetting()->logo, 'logo') }}"
          srcset="{{ getTemporaryFileUrl(appSetting()->logo, 'logo') }}"
          alt="logo-dark"
        />
        <img
          class="logo-small logo-img logo-img-small"
          src="{{ getTemporaryFileUrl(appSetting()->logo, 'logo') }}"
          srcset="{{ getTemporaryFileUrl(appSetting()->logo, 'logo') }}"
          alt="logo-small"
        />
        {% endcomment %}
      </a>
    </div>
    <div class="nk-menu-trigger me-n2">
      <a
        href="#"
        class="nk-nav-toggle nk-quick-nav-icon d-xl-none"
        data-target="sidebarMenu"
        ><em class="icon ni ni-arrow-left"></em
      ></a>
      <a
        href="#"
        class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex"
        data-target="sidebarMenu"
        ><em class="icon ni ni-menu"></em
      ></a>
    </div>
  </div>
  <!-- .nk-sidebar-element -->
  <div class="nk-sidebar-element">
    <div class="nk-sidebar-content">
      <div class="nk-sidebar-menu" data-simplebar>
        <ul class="nk-menu">
          <li class="nk-menu-heading">
            <h6 class="overline-title text-primary-alt">Dashboard</h6>
          </li>
          <!-- .nk-menu-item -->

          <li class="nk-menu-item">
            <a href="{% url 'dashboard' %}" class="nk-menu-link">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-home"></em
              ></span>
              <span class="nk-menu-text">Dashboard</span>
            </a>
          </li>
          <li class="nk-menu-heading">
            <h6 class="overline-title text-primary-alt">Proses</h6>
          </li>
          <li class="nk-menu-item">
            <a href="{% url 'tps_index' %}" class="nk-menu-link">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-package-fill"></em
              ></span>
              <span class="nk-menu-text">TPS</span>
            </a>
          </li>
          <li class="nk-menu-heading">
            <h6 class="overline-title text-primary-alt">Data Master</h6>
          </li>
          <li class="nk-menu-item">
            <a href="{% url 'category_index' %}" class="nk-menu-link">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-tags"></em
              ></span>
              <span class="nk-menu-text">Kategori Sampah</span>
            </a>
          </li>
          <li class="nk-menu-item">
            <a href="{% url 'trash_place_index' %}" class="nk-menu-link">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-trash"></em
              ></span>
              <span class="nk-menu-text">Tempat Sampah</span>
            </a>
          </li>
          <li class="nk-menu-item">
            <a href="{% url 'tpa_index' %}" class="nk-menu-link">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-truck"></em
              ></span>
              <span class="nk-menu-text">TPA</span>
            </a>
          </li>
          <li class="nk-menu-item">
            <a href="{% url 'user_index' %}" class="nk-menu-link">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-user-alt"></em
              ></span>
              <span class="nk-menu-text">Pengguna</span>
            </a>
          </li>
        </ul>
        <!-- .nk-menu -->
      </div>
      <!-- .nk-sidebar-menu -->
    </div>
    <!-- .nk-sidebar-content -->
  </div>
  <!-- .nk-sidebar-element -->
</div>
